In [308]:
import pandas as pd
from random import randrange
from datetime import timedelta
from datetime import datetime
import numpy as np
RNG = np.random.default_rng()

In [309]:
df1 = pd.read_csv('source_csv/2022-2023 Football Player Stats.csv', sep=';', encoding_errors='ignore')
df1 = df1[df1['Player'].str.contains('\?')==False]
df1

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Brenden Aaronson,USA,MFFW,Leeds United,Premier League,22,2000,14,14,...,0.23,3.18,0.45,0.0,0.0,0.00,5.15,0.45,1.29,26.1
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,1987,15,15,...,0.07,0.20,1.33,0.0,0.0,0.00,6.40,1.93,1.07,64.4
2,3,Himad Abdelli,FRA,MFFW,Angers,Ligue 1,23,1999,7,2,...,0.00,0.00,0.00,0.0,0.0,0.00,6.54,0.77,1.54,33.3
3,4,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,22,2000,15,15,...,0.00,0.33,0.67,0.0,0.0,0.07,6.53,0.60,0.47,56.3
4,5,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29,1993,10,10,...,0.00,0.22,1.89,0.0,0.0,0.00,5.67,0.22,0.22,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2375,2376,Nadir Zortea,ITA,DF,Atalanta,Serie A,23,1999,8,1,...,0.00,4.29,2.38,0.0,0.0,0.00,6.19,2.38,0.48,83.3
2376,2377,Kurt Zouma,FRA,DF,West Ham,Premier League,28,1994,14,14,...,0.00,0.00,0.15,0.0,0.0,0.00,3.64,2.35,0.30,88.6
2377,2378,Igor Zubeldia,ESP,DF,Real Sociedad,La Liga,25,1997,10,8,...,0.00,0.25,0.75,0.0,0.0,0.00,3.63,1.50,1.88,44.4
2378,2379,Martn Zubimendi,ESP,MF,Real Sociedad,La Liga,23,1999,14,13,...,0.08,0.08,1.02,0.0,0.0,0.00,5.55,2.58,0.86,75.0
2380,2381,Martin degaard,NOR,MF,Arsenal,Premier League,23,1998,13,13,...,0.00,2.61,0.59,0.0,0.0,0.00,5.46,0.42,0.76,35.7

In [310]:
def random_date(start, end):
    """
    This function will return a random datetime between two datetime 
    objects.
    """
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return str(start + timedelta(seconds=random_second))[:10]

d1 = datetime.strptime('1/1/1980 1:30 PM', '%m/%d/%Y %I:%M %p')
d2 = datetime.strptime('1/1/2010 4:50 AM', '%m/%d/%Y %I:%M %p')

In [313]:
players = df1[['Player', 'Rk']].sample(n=500)
players[['name', 'surname']] = players['Player'].str.split(' ', 1, expand=True)
players.rename(columns={'Rk':'player_id'}, inplace=True)
players.drop(columns='Player', inplace=True)
players['birth_date'] = [random_date(d1, d2) for _ in range(players.shape[0])]
players['height'] = [int(RNG.normal(180, 15)) for _ in range(players.shape[0])]
players['weight'] = [int(RNG.normal(85, 15)) for _ in range(players.shape[0])]

C:\Users\dziew\AppData\Local\Temp\ipykernel_14392\3637994730.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  players[['name', 'surname']] = players['Player'].str.split(' ', 1, expand=True)

In [326]:
df2 = pd.read_csv('source_csv/countries of the world.csv', sep=',')
countries = df2[['Country']]
countries.rename(columns={'Country':'name'}, inplace=True)
countries['country_id'] = countries.index

C:\Users\dziew\AppData\Local\Temp\ipykernel_14392\3812528511.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countries.rename(columns={'Country':'name'}, inplace=True)
C:\Users\dziew\AppData\Local\Temp\ipykernel_14392\3812528511.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countries['country_id'] = countries.index

In [346]:
players['country_id'] = [int(countries['country_id'].sample(n=1)) for _ in range(players.shape[0])]

In [363]:
df3 = pd.read_csv('source_csv/Football teams.csv', sep=',')
leagues = pd.DataFrame()
leagues['name'] = pd.unique(df3['Tournament'])
leagues['league_id'] = leagues.index

In [368]:
df3
teams = df3[['Team']]
teams.rename(columns={'Team':'name'}, inplace=True)
teams[]

C:\Users\dziew\AppData\Local\Temp\ipykernel_14392\2294276127.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams.rename(columns={'Team':'name'}, inplace=True)

                   name
0       Manchester City
1         Bayern Munich
2   Paris Saint-Germain
3             Barcelona
4           Real Madrid
..                  ...
93     Sheffield United
94              Crotone
95            Benevento
96                Dijon
97           Schalke 04

[98 rows x 1 columns]

In [ ]:
players.to_csv('output_csv/players.csv', index=False)
countries.to_csv('output_csv/countries.csv', index=False)